<div class="list">
    <h1>Baked Goods</h1>
    <div class="filtering">
        <input type="text" class="form-control" [(ngModel)]="sorting.search"/>
        <button type="button" (click)="sorting$.next(sorting)">
            Search
        </button>
        <button type="button" routerLink="../add">
            + Add
        </button>
        <button type="button" (click)="clearSorting()">
            Clear Filters
        </button>
    </div>
    
    <table class="grid" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr #form="ngForm" ngForm>
                <th (click)="changeSorting('id')">
                    Id
                    <span *ngIf="sorting.id === undefined">⇅</span>
                    <span *ngIf="sorting.id === true">↑</span>
                    <span *ngIf="sorting.id === false">↓</span>
                </th>
                <th (click)="changeSorting('type')">
                    Type
                    <span *ngIf="sorting.type === undefined">⇅</span>
                    <span *ngIf="sorting.type === true">↑</span>
                    <span *ngIf="sorting.type === false">↓</span>
                </th>
                <th (click)="changeSorting('name')">
                    Batter
                    <span *ngIf="sorting.name === undefined">⇅</span>
                    <span *ngIf="sorting.name === true">↑</span>
                    <span *ngIf="sorting.name === false">↓</span>
                </th>
                <th>Topping</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bakedGood of backedGood$ | async">
                <td> {{ bakedGood.id }}</td>
                <td> {{ bakedGood.type }}</td>
                <td> {{ bakedGood.name }}</td>
                <td> {{ bakedGood.topping }}</td>
            </tr>
            <tr *ngIf="!(backedGood$ | async)?.length">
                <td colspan="4">
                    No data to show.
                </td>
            </tr>
        </tbody>
    </table>
</div>
