<h1>Baked Goods</h1>
<br>
<div class="filters">
    <h4>Sorting</h4>
    <div>
        <label>
            Id
            <select>
                <option value="">Select Id</option>
                <option *ngFor="let id of ids">{{id}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            Type
            <select>
                <option value="">Select Type</option>
                <option *ngFor="let type of types">{{type}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            Batter
            <select>
                <option value="">Select Batter</option>
                <option *ngFor="let batter of batters">{{batter}}</option>
            </select>
        </label>
    </div>
</div>
<button type="button" routerLink="add">
    + Add
</button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Topping</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bakedGood of backedGood$ | async">
            <td> {{ bakedGood.id }}</td>
            <td> {{ bakedGood.type }}</td>
            <td> {{ bakedGood.name }}</td>
            <td> {{ bakedGood.topping }}</td>
        </tr>
    </tbody>
</table>